params.nproc = 10 //* @input @description:"How many processes to use for each step. Default 1"
params.projectDir="${projectDir}"
params.mate="pair"
params.mate="single"

params.metadata.metadata = "${params.projectDir}/tools.json"

params.Assemble_pairs_assemble_pairs.method = "align"
params.Assemble_pairs_assemble_pairs.coord = "sra"
params.Assemble_pairs_assemble_pairs.rc = "tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 = ""
params.Assemble_pairs_assemble_pairs.head_fields_R2 = ""
params.Assemble_pairs_assemble_pairs.failed = "false"
params.Assemble_pairs_assemble_pairs.fasta = "false"
params.Assemble_pairs_assemble_pairs.nproc = params.nproc
params.Assemble_pairs_assemble_pairs.alpha = 0.00001
params.Assemble_pairs_assemble_pairs.maxerror = 0.3
params.Assemble_pairs_assemble_pairs.minlen = 8
params.Assemble_pairs_assemble_pairs.maxlen = 1000
params.Assemble_pairs_assemble_pairs.scanrev = "true"
params.Assemble_pairs_assemble_pairs.minident = 0.5
params.Assemble_pairs_assemble_pairs.evalue = 0.00001
params.Assemble_pairs_assemble_pairs.maxhits = 100
params.Assemble_pairs_assemble_pairs.fill = "false"
params.Assemble_pairs_assemble_pairs.gap = 0

params.Mask_Primer_MaskPrimers.method = ["align"]
params.Mask_Primer_MaskPrimers.mode = ["cut"]
params.Mask_Primer_MaskPrimers.maxlen = [100]
params.Mask_Primer_MaskPrimers.primer_field = ["VPRIMER"]
params.Mask_Primer_MaskPrimers.barcode = ["false"]
params.Mask_Primer_MaskPrimers.maxerror = [0.2]
params.Mask_Primer_MaskPrimers.revpr = ["false"]
params.Mask_Primer_MaskPrimers.failed = ["true"]
params.Mask_Primer_MaskPrimers.nproc = params.nproc
params.Mask_Primer_MaskPrimers.skiprc = "false"
params.Mask_Primer_MaskPrimers.R1_primers = "${projectDir}/primers/Biomed_V_primers.fasta"
params.Mask_Primer_MaskPrimers.fasta = "false"


params.Mask_Primer_1_MaskPrimers.method = ["align"]
params.Mask_Primer_1_MaskPrimers.mode = ["cut"]
params.Mask_Primer_1_MaskPrimers.maxlen = [50]
params.Mask_Primer_1_MaskPrimers.primer_field = ["JPRIMER"]
params.Mask_Primer_1_MaskPrimers.barcode = ["false"]
params.Mask_Primer_1_MaskPrimers.maxerror = [0.2]
params.Mask_Primer_1_MaskPrimers.revpr = ["true"]
params.Mask_Primer_1_MaskPrimers.failed = ["true"]
params.Mask_Primer_1_MaskPrimers.nproc = params.nproc
params.Mask_Primer_1_MaskPrimers.skiprc = "false"
params.Mask_Primer_1_MaskPrimers.R1_primers = "${projectDir}/primers/Biomed_J_primers.fasta"
params.Mask_Primer_1_MaskPrimers.fasta = "false"

// Process Parameters for collapse_seq:
params.collapse_sequences_collapse_seq.max_missing = 20 
params.collapse_sequences_collapse_seq.inner = "true" 
params.collapse_sequences_collapse_seq.fasta = "true" 
params.collapse_sequences_collapse_seq.act = "set" 
params.collapse_sequences_collapse_seq.uf = "JPRIMER" 
params.collapse_sequences_collapse_seq.cf = "VPRIMER" 
params.collapse_sequences_collapse_seq.nproc = params.nproc
params.collapse_sequences_collapse_seq.failed = "true" 

params.split_sequences_split_seq.field = "DUPCOUNT"
params.split_sequences_split_seq.num = 2
params.collapse_sequences_collapse_seq.nproc = params.nproc

params.Parse_header_table_parse_headers.method = "table"
params.Parse_header_table_parse_headers.act = "min"
params.Parse_header_table_parse_headers.args = "-f ID DUPCOUNT JPRIMER VPRIMER"

params.vdjbase_input.chain = "trb"